! Base16 Loudpastel
! Author: rhinocerose

! base00: #20201d
! base01: #base01
! base02: #6e6b5e
! base03: #7d7a68
! base04: #999580
! base05: #a6a28c
! base06: #e8e4cf
! base07: #fefbec
! base08: #base08
! base09: #b65611
! base0A: #ae9513
! base0B: #60ac39
! base0C: #1fad83
! base0D: #0BAE9A
! base0E: #b854d4
! base0F: #d43552

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #192220, #192220, #121917

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #192220, #71908A, #192220, #192220, #BCECE2
rofi.color-active:  #192220, #0BAE9A, #192220, #192220, #0BAE9A
rofi.color-urgent:  #192220, #F63589, #192220, #192220, #F63589

! Set the desired separator style
rofi.separator-style: solid
