#!/usr/bin/env bash
GIT_NAME="git-rhino"
function mkd () {
	if [ $# != 1 ]; then
		echo "Usage: mkd <dir>"
	else
		mkdir -pv "$1" && cd "$1"
	fi
}

function cd () {
	if [ -n "$1" ]; then
		builtin cd "$@" && ll
	else
		builtin cd ~ && ll
	fi
}

function gclone () {
    git clone --recurse-submodules --remote-submodules -j8 git@$GIT_NAME:rhinocerose/"$1"
}

function grhino () {
    git clone git@$GIT_NAME:rhinocerose/"$1"
}

function gadd () {
    git submodule add git@$GIT_NAME:rhinocerose/"$1"
}
