command_timeout=1000

[character]
success_symbol = "➜"
error_symbol = "✗"

[hostname]
ssh_only = false
# format = "⟪[$hostname]($style)⟫ "
format = "⟪[Ashar]($style)⟫ "
trim_at = ".companyname.com"
disabled = false
ssh_symbol = " "

[battery]
full_symbol = ""
charging_symbol = ""
discharging_symbol = ""

[memory_usage]
symbol = " "

[directory]
read_only = " 󰌾"

[cmd_duration]
format = "[$duration]($style) "
show_milliseconds = true
style = "fg:#8be9fd"

# Git
[git_branch]
symbol = " "

[git_commit]
tag_symbol = '  '

[git_status]
windows_starship = '/mnt/c/Users/AsharLatif/scoop/apps/starship/current/starship.exe'
format = "[(\\[$conflicted$staged$modified$deleted$renamed$untracked$stashed$ahead_behind\\])](bright-black) "
conflicted = "=${count}"
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?${count}"
stashed = "\\$${count}"
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = "✘${count}"

#ahead    = "↑${count}"
#diverged = "↑${ahead_count}↓${behind_count}"
#behind   = "↓${count}"
#conflicted = "[ ✖$count✖ ](bold red)"
#staged     = "[✚$count](green)"
#modified   = "[✚$count](bold blue)"
#deleted    = "[-$count](red)"
#renamed    = "[»$count](green)"
#untracked  = "[??$count](bold blue)"
#stashed    = "[⚑$count](bold blue)"

#format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](bright-black) ($ahead_behind$stashed)]($style)"
#style = "cyan"
#staged = "• "
#modified = "~ "
#untracked = "+ "
#deleted = "x "
#conflicted = "​"
#renamed = "​"
#stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

# Language Support
[aws]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[docker]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[gcloud]
symbol = " "

[golang]
symbol = " "

[gradle]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[python]
format = '  [${pyenv_prefix}(${version})(\($virtualenv\))](bold fg:yellow) '

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[status]
symbol = " "

[swift]
symbol = " "

[xmake]
symbol = " "

[zig]
symbol = " "

