[include]
	path = $HOME/.dotfiles/.config/git/.gitconfig.local

[credential]
	helper = cache --timeout=3600
[user]
	name = rhinocerose
	email = ashar.k.latif@gmail.com
[init]
	templatedir = ~/.git_template
